html,body,div,span,h1,h2,h3,h4,h5,h6,p,a,em,img,ol,ul,li,form,tr,th,td{
    margin: 0;
    border: 0;
    padding: 0;
}

ul,ol,li {
    list-style: none;
}

img {
    max-width: 100%;
}

*{
    box-sizing: border-box;
}